body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    margin:0;
    padding: 0;
}

a{
    color:white
}

svg{
    fill: white;
}

header{
    display: flex;
    align-items: center;
    max-width: 1400px;
    padding: 20px 50px;
    margin: 0 auto;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 1;
}

header svg{
    width: 200px;
}

header a .logo{
    margin-right: 40px;
}

.center-nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding: 0 13px;
}

.right-nav{
    position: fixed;
    right: 0;
    top: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    
}

.right-nav a{

    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    padding: 0 50px;
}

.triple{
    position: absolute;
    right: 0;
    top: -10px;
    color: white;
    padding: 20px;
    background-color: transparent;
    border: 0;
    transform: rotate(90deg);
}

section{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

section div.content{
    position: absolute;
    bottom: 10%;
    left: 50px;
    max-width: 300px;
}

section div.content h2{
    font-size: 40px;
    margin: 0;
}

section div.content h3{
    margin: 0 0 10px;
}

section div.content a{
    border: 2px solid white;
    display: inline-block;
    padding: 20px 60px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
}

footer{
    padding: 100px;
    font-size: 12px;
}

footer nav{
    text-align: center;
}

footer nav a{
    padding: 0 20px;
    text-decoration: none;
}

footer nav span{
    color: grey;
    display: inline-block;
    padding-right: 40px;
}